## config server
CONFIG_SERVER_PORT=

## eureka server
EUREKA_SERVER_PORT=

## api gategay 
API_GATEWAY_PORT=
GATEWAY_KEYCLOACK_CLIENT_SECRET=

## keycloak
KC_PORT=
KC_BOOTSTRAP_ADMIN_USERNAME=
KC_BOOTSTRAP_ADMIN_PASSWORD=

## keycloak db
KC_DB_PORT=
KC_DB_NAME=
KC_DB_USER=
KC_DB_PASS=

## rabbit mq
RABBIT_MQ_HOST=
RABBIT_MQ_PORT=
RABBIT_MQ_PORT_AMQP=
RABBIT_MQ_USER=
RABBIT_MQ_PASS=

## car service
CAR_SERVICE_PORT=

## car db
CARS_DB_PASS=
CARS_DB_USER=
CARS_DB_NAME=
CARS_DB_PORT=
CARS_DB_IMAGE=

## trip service
TRIP_SERVICE_PORT=

## trip db
TRIPS_DB_PASS=
TRIPS_DB_USER=
TRIPS_DB_NAME=
TRIPS_DB_PORT=
TRIPS_DB_IMAGE=

## trip service
NOTIFICATION_SERVICE_PORT=

## trip db
NOTIFICATION_DB_PASS=
NOTIFICATION_DB_USER=
NOTIFICATION_DB_NAME=
NOTIFICATION_DB_PORT=
NOTIFICATION_DB_IMAGE=

## prometheus
PROMETHEUS_PORT=
 
## loki
LOKI_PORT=

## grafana
GRAFANA_PORT=